<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Swack - 新規登録画面</title>

    <link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}" />
  </head>

  <body>
    <div class="container">
      <h1>Swack</h1>
      <h2>新規登録</h2>
    </div>
    <!-- container -->
  </body>
</html>
